<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Add Support for Spring -->
    <!-- Создает Spring Container, доступный всем сервлетам и фильтрам -->
    <servlet>
        <servlet-name>dispatcher1</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>ru.itis.inform.config.SpringConfig</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher1</servlet-name>
        <url-pattern>/</url-pattern>

    </servlet-mapping>

</web-app>