<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.itis.inform"/>

    <bean id="usersDao" class="ru.itis.inform.dao.impl.UsersDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="userService" class="ru.itis.inform.service.impl.UserServiceImpl">
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="postgres"/>
        <property name="password" value="alisa654789"/>
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/spring_demo"/>
    </bean>


</beans>