#auth_form {
    margin-bottom: 30%;
    margin-left: 40%;
}

#body {
    background-color: white;
    background-color: white;
    /*background-image: url(/image/homescreen.jpg);*/
}

.signupRel {
    link: white;
}

.addfilmform {
    width: 500px;
    position: relative;
    left: 10%;
    border: 1px solid rgba(77, 77, 77, 0.51);
    background-color: rgba(255, 255, 255, 0.24);
}

#addfilmfields {
    width: 450px;
    margin-left: 10px;
    margin-top: 5px;
}

.knopochki {
    left: 40%;
    padding-left: 45%;
}

.copyright {
    top: 95%;
    left: 40%;
    padding-left: 45%;
    font-style: oblique;
    font-size: small;
}

.film {
    max-width: 90%;
    link: black;
    margin-right: 15%;
    margin-left: 10%;
    padding-left: 5%;
    padding-right: 5%;
    height: 40%;
    top: 5%;
    left: 10%;
    width: 80%;
    border: 1px solid rgba(77, 77, 77, 0.51);
    background-color: rgba(255, 255, 255, 0.24);
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    border: 1px solid rgba(77, 77, 77, 0.51);
    background-color: rgba(255, 255, 255, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.box div {
    width: 90px;
    display: inline-block;
}

#wrap {
    border: 1px solid rgba(77, 77, 77, 0.51);
    background-color: rgba(255, 255, 255, 0.24);
    left: 10%;
    max-width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding-left: 2%;
    margin-left: 7%;
}

/* Set the fixed height of the footer here */
#push {
    height: 60px;
}

#container {
    link: black;
    width: 90%;
    max-width: 640px;
}

.container .credit {
    margin: 20px 0;
}

#wrap1 {
    border: 1px solid lightgray;
    alignment-adjust: central;
    width: 1000px;
    margin-left: 50px;
    margin-top: 10px;
    box-shadow: 0 5px 0 #e6e6e6;
    padding-bottom: 50px;

}

h1 {
    text-align: center;
}

#same {
    width: 50%;
}

h3.heading {
    margin-left: 20px;
    background-color: #fafafa;
    font-size: 25px;
    float: left;
    padding-left: 40px;
    position: relative;
    width: 405px;
    height: 40px;
    padding-top: 5px;

}

#upper_blank {
    border-bottom: 7px solid steelblue;
    margin-top: 40px;
    margin-right: 485px;
    width: 570px;
    padding-right: 480px;
}

.p {
    margin-left: 5px;
    padding: 8px;
    padding-left: 20px;
}

#name {
    margin-left: 20px;
    box-shadow: 0 2px 0 #e6e6e6;
    height: 40px;
    padding-left: 10px;
    width: 500px;
}

#email {
    margin-left: 20px;
    box-shadow: 0 2px 0 #e6e6e6;
    height: 40px;
    padding-left: 10px;
    width: 500px;
}

#url {
    margin-left: 20px;
    box-shadow: 0 2px 0 #e6e6e6;
    height: 40px;
    padding-left: 10px;
    width: 500px;
}

#comment {
    margin-left: 20px;
    box-shadow: 0 2px 0 #e6e6e6;
    height: 40px;
    padding-left: 10px;
    width: 650px;
    height: 200px;
}

#commentSubmit {
    margin-left: 20px;
    width: 250px;
    height: 55px;
    color: white;
    font-size: 20px;
    background-color: #2c95dc;
    box-shadow: 0 3px 0 #09466f;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 5px;
}

#commentSubmit:hover {
    background-color: #09466f;

}

.p {
    font-size: 18px;
    color: gray;
    padding-bottom: 15px;
    padding-top: 15px;
}

.p1 {
    font-size: 18px;
    padding-top: 20px;
}

h3.second_heading {
    margin-left: 0;
    margin-top: 30px;
    font-size: 20px;
    width: 250px;
    height: 50px;
    padding-top: 10px;
    padding-left: 55px;

}

#middle {
    border: 1px solid lightgray;
    width: 1000px;
    height: 200px;
    background-color: lightyellow;
    margin-left: 45px;
    text-align: left;
    margin-top: 10px;
    box-shadow: 0 2px 0 lightgray;
}

.blank {
    border-bottom: 7px solid steelblue;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 100px;
    width: 800px;
}

#inner_reply {

    margin-left: 800px;
    margin-top: 160px;
    width: 100px;
    height: 30px;
    background-color: #2c95dc;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 18px;
}
